@import 'variables';

.CardSection{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 1em;
    justify-content: center;
    padding: 1em;
    border-radius: .4em;
    margin: 1em;
}