@import '_variables';

.MembersTitle{
    font-size: 3.5rem;
    color: $Light;
    margin: 1rem;
    text-align: center;
    text-shadow: 0 0 1em $LightShadows;
}

.MembersSection{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
    gap: 3em;
    justify-content: center;
    padding: 1em;
    border-radius: .4em;
    margin: 2em;

}

.Members{
    &__Image{
        aspect-ratio: 9/12;
        width: 100%;
        border-radius: 1em;
    }
    &__Name{
        font-size: 1.5rem;
        color: $Light;
        text-align: center;
        text-shadow: 0 0 1em $LightShadows;
    }
    &__Description{
        font-size: 1rem;
        color: $Light;
        text-align: center;
        &--Links{
            display: flex;
            justify-content: center;
            gap: 1em;
            margin: 1em;
            
        }
    }
    &__Link{
        color: $Light;
        text-decoration: none;
        transition: all .3s;
        &:hover{
            color: $AuxiliarDarkishBlue;
            transition: all .3s;
        }
    }
}


