@import 'variables';

.NavBar{
    padding: 1em;
    background-color: #f8f9fa;
    box-shadow: 0 0 1em rgba(0,0,0,.1);
    position: sticky;
    display: flex;
    justify-content: flex-end;

    &__Wrapper{
        display: flex;
        list-style: none;
    }
    &__Elements Button{
        border: none;
        padding: 1em 2em;
        margin: .5em;
        border-radius: .4em;
        background-color: $Dark;
        color: $Light;
        cursor: pointer;
        transition: all .3s;
        &:hover{
            background-color: $AuxiliarDarkishBlue;
            transition: all .3s;
        }
    }

}